.background{
    background: url(../Image/Ahah!.jpg);
}




/*Header*/
.header{
    top : 0px;
    position : fixed;
    width : 100%;
    z-index: 2;
}


.center, .center-column, .top, .right, .bottom, .left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-column {
    flex-direction: column;
}

.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }