/* Tout  */
html{
    height: 100%;
}
* {box-sizing: border-box}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #9900cc;
    font-size: 1em;
    border: none;
    height: 100%;
}

main {
    margin:0;
    margin-top: 50px;
    height: 100%;
    /* margin-left:30px;
    margin-right:30px; */
    /* border: solid 10px green; */
}
    
#bigDiv {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 3px;
    margin-top: 20%;
    position: relative;
    /* border: solid 10px red; */
}
    
.bgcontainer {
    position: relative;
    top: 0;
    left:0;
    /* border: black 10px solid; */
    height: 100%;
}
    
.bgcontainer::before{
    content: "";
    position: absolute;
    left: 0;
    top:-10%;
    height: 110%;
    width: 100%; 
    background-image: url(../Images/maths-wallpaper.jpg);
    filter: blur(2px);
    -webkit-filter: blur(2px);
    opacity: 0.8;
    display: block;
    z-index: -1;
}

#indexBgContainer {
    height:90%;
}

#indexBgContainer::before {
    top: -160%;
    height: 260%;
}

#videoBgContainer {
    height: 100%;
}
/* 
#videoBgContainer::before{
    top:0;
    height: 100%;
} */

footer {
    position: relative;
    background-color: #555;
    color: white;
    font-size: 2em;
    padding:2px;
    margin-top:0px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: #555;
    padding: 50px;
    border: #555 solid 1px;
    font-size: 3em;
}

































/* Trombinoscope */

.photoTrombi {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}
























/* Pour la navbar */
#navbar {
    width: 100%;
    background-color: #555;
    position: fixed;
    font-size: 2.5em;
    top:0;
    z-index: 2;
    transition-property: top;
    transition-duration: 0.3s;
    display: block;
}

#navbar a.active {
    display: block;
    border: solid 1px #555;
}

#navbar a {
    background-color: #555;
    display: none;
    text-decoration: none;
    width: 100%;
    text-align: left;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 5%;
    color: white;
}

#navButton {
    background-image: url(../Images/navButton.jpg);
    background-size: 100%;
    position: fixed;
    right: 2%;
    top: 1%;
    width: 4.5em;
    height: 4.5em;
    background-color: transparent; 
    border: none;    
    transition-property: top;
    transition-duration: 0.3s;
    box-shadow: none;
}


















/* SearchBar */
#txtRecherche {
    /* position: absolute;
    top:70px;
    left:10%; */
    background-image: url('../Images/searchIcon_25x25.png');
    background-size: 2em;
    background-position-x: 0.5em;
    background-position-y: 0.4em; 
    background-repeat: no-repeat;
    width: 80%;
    padding: 30px;
    padding-left: 3em;
    border: 1px solid #9900cc;
    border-radius: 5px;
    font-size: 2em;
    display: block;
    z-index: 1;
    box-shadow: 5px 5px 20px #555;
    margin: auto;
  }
  
  #articleList {
    list-style-type: none;
    padding: 0;
    margin: auto;
    width: 80%;
  }
  
  #articleList li {
    display: none;
    background-color: #f6f6f6;
  }
  
  #articleList li a {
    padding: 30px;
    padding-left: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 0px;
    text-decoration: none;
    font-size: 2em;
    color: black;
    display: block;
    text-indent: 1.5em;
    box-shadow: 5px 5px 20px #555;
  }
  
  .propositions {
    text-align: left;
  }
  
  
  
  /* ToolTip "Donne tout." */
  
  .tooltip {
    width: 100%;
    position: relative;
    display: inline-block;
    /* border: solid 1px black; */
    margin-top: 130px;
  }

  .tooltiptexttop {
      display: none;
  }


















/* citation index */
#freeCitation {
    font-size: 1.8em;
    color: #555;
}

.citation{
    display: none;
    margin: auto;
    border: solid 1px #555;
    border-radius: 5px;
    box-shadow: 5px 5px 20px #555;
    text-shadow: 1px 1px 10px #555;
    font-style: italic;
    font-size: 5em;
    padding-right: 60px;
    padding-left: 60px;
    width: 90%;
}


  
blockquote p {
    quotes: "\201C""\201D""\2018""\2019";
    color: black;
    font-weight: bolder;
}
  
blockquote p:before {
    position: absolute;
    top: 80px;
    left:40px;
    content: open-quote;
    font-family:Georgia, "Times New Roman", Times, serif;font-weight: bolder; 
    font-size:3em;
    color:#9900cc;
}
  
blockquote p:after{
    position: absolute;
    /* top: 20%; */
    bottom: 0;
    right:60px;
    content: close-quote;
    font-family:Georgia, "Times New Roman", Times, serif;font-weight: bolder;
    font-size: 3em;
    color:#9900cc;
}
  
blockquote a {
    float: right;
    margin-right: 0;
    font-size: 0.6em;
    padding-bottom: 10px;
    text-shadow: 1px 1px 10px #555; 
}
  
blockquote a::before {
    font-family:Georgia, "Times New Roman", Times, serif;
    content: "~";
}
  
.auteur:link {
    color: #555;
    text-decoration: none;
}

.auteur:visited {
    color: #555;
}






















/* Pour les videos */

#txtRechercheVideo {
    font-size: 2em;
    /* border: 1px solid #ddd; */
    border:none;
    border-radius: 3px;
    float: right;
    width: 20%; 
    border: solid #555 1px;
    box-shadow: 5px 5px 20px #555;
    z-index: 1;
    position: relative;
    padding: 30px;
    text-align: center;
}
  
.entete {
    /* border: solid #555 1px; */
    display: inline-block;
    position: relative;  
    margin-bottom: 12px;
    /* background-color: #555; */
    padding: 0;
    box-shadow: 5px 5px 20px #555;
    width: 85%;
}
  
#p_recherche {
    background-image: url('../Images/searchIcon_25x25.png');
    background-size: 2em;
    background-position-x: 0.5em;
    background-position-y: 0.4em; 
    background-repeat: no-repeat;
    width: 70%;
    padding: 30px;
    color: #555;
    font-size: 2em;
    float: left;
    text-align: right;
    border: solid #555 1px;
    box-shadow: 5px 5px 20px #555;
    border-radius: 2px;
    margin: 0;
    width: 80%;
    height: 100%;
    text-shadow: 1px 1px 10px #555;
}
  
  
iframe {
    margin-top: 10vw;
    margin-bottom: 10vw;
    width: 52vw; 
    height: 91vw;
    border: 2px solid #555;
    border-radius: 3px;
    background-color: #555;
    box-shadow: 5px 5px 20px #555;
    display: inline-block;
}
  
button:disabled {
    box-shadow: none;
}
  
#prevBtn {
    background-color: #555;
    height: 100%;
    width: 100%;
    background-image: url(../Images/prev.png);
    border-radius: 2px;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.5s;
    transform: rotate(0deg);
    box-shadow: 5px 5px 20px #555;
}
  
#divPrevButton {
    display: inline-block;
    top: 25%;
    height: 25%;
    width: 14%; 
    left: 0.6%;   
    position: absolute;
    /* border: solid red 1px; */
}
  
#prevBtn:hover:disabled {
    transition: transform 0.5s 0.2s;
    transform: rotate(180deg);
}
  
#nextBtn {
    height: 100%;
    width: 100%;
    background-image: url(../Images/next.png);
    border-radius: 2px;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.5s;
    transform: rotate(0deg);
    background-color: #9900cc;
    box-shadow: 5px 5px 20px #555;
}
  
#divNextButton {
    display: inline-block;
    top: 25%;
    height: 25%;
    width: 14%; 
    right: 0.6%; 
    position: absolute;
}
  
#nextBtn:hover:disabled {
    transition: transform 0.5s 0.2s;
    transform: rotate(-180deg);
}
  
#abonnement {
    background-color: #ff0000;
    border-radius: 5px;
    width: 40%;
    padding: 30px;
    font-size: 2em;
    color: white;
    box-shadow: 5px 5px 20px #555;
    margin-bottom: 5vh;    
}

button {
    border: none;    
}
  
button:hover:enabled {
    opacity: 0.8;
}


