/* Tout  */
* {box-sizing: border-box}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;
  background-color: #9900cc;
  font-size: 1em;
}

main {
  margin-top: 80px;
  margin-bottom: 20px;
  /* margin-left: 10px;
  margin-right: 10px; */
  padding-left: 8%;
  padding-right: 8%;
  text-align: center;
}

footer {
  display: none;
}

#Popup {
  display: block;
  visibility: hidden;
  position: absolute;
  left : 25%;
  z-index: 1;
}

.spasmedroite {
  animation : hein 0.5s;
}
.spasmegauche {
  animation: heinV2 0.5s;
}

@keyframes hein {
  0% {transform: translate(0,0)}
  20% {transform: translate(400px,-100px)}
  40% {transform: translate(-400px, 0)}
  60% {transform: translate(400px, 100px)}
  80% {transform: translate(0,300px)}
  100% {transform: translate(0, 0)}
}

@keyframes heinV2 {
  0% {transform: translate(0,0)}
  20% {transform: translate(-400px,-100px)}
  40% {transform: translate(400px, 0)}
  60% {transform: translate(-400px, 100px)}
  80% {transform: translate(0,300px)}
  100% {transform: translate(0, 0)}
}


#bigDiv {
  width: 100%;
  /* height: 100%; */
  text-align: center;
  /* border: 1px solid #555; */
  padding-left: 8%;
  padding-right: 8%;
  /* background-color: rgba(255, 255, 255, 0.8); */
  border-radius: 3px;  
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
  top: 0;
  left:0;  
}

/* .bground {
  filter: blur(2px);
  -webkit-filter: blur(2px);
  width: 101%;
  opacity: 0.87;
} */

.bgcontainer {
  position: relative;
  border: #555 1px solid;
}

.bgcontainer::before{
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url(../Images/maths-wallpaper.jpg);
  filter: blur(2px);
  -webkit-filter: blur(2px);
  opacity: 0.8;
}

h1 {
  padding: 12px;
  border: solid 1px #555;
  color: #000;
  margin-bottom: 40px;
  border-radius: 3px;
  box-shadow: 5px 5px 20px #555;
  text-shadow: 1px 1px 10px #555;
  font-style: italic;
}

h2 {
  padding: 12px;
  border: solid 1px #555;
  color: #555;
  margin-bottom: 40px;
  border-radius: 3px;
  box-shadow: 5px 5px 20px #555;
  text-shadow: 1px 1px 10px #555; 
}

h3 {
  padding-top:20px;
  color: #555;
  text-align: left;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); */
  text-shadow: 1px 1px 10px #555; 
}

h3::before {
  content: "\2022";
  color: #555;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

p {
  color: #555;
  text-shadow: 1px 1px 10px #555; 
  /* border: solid 3px green; */
}

































/* citation index */
#freeCitation {
  margin-top:8%; 
  font-size: 1.1em;
  text-align: center;
}

.citation{
  display: none;
  margin: auto;
  /* padding: 12px; */
  border: solid 1px #555;
  /* margin-bottom: 40px; */
  border-radius: 3px;
  box-shadow: 5px 5px 20px #555;
  text-shadow: 1px 1px 10px #555;
  font-style: italic;
  font-size: 2em;
  margin-bottom: 15vh;
}

blockquote p {
  quotes: "\201C""\201D""\2018""\2019";
  color: black;
  padding-left:12px;
  padding-right: 15px;
  font-weight: bolder;
}

blockquote p:before{
  content: open-quote;
  font-family:Georgia, "Times New Roman", Times, serif;  font-weight: bolder;
  font-size:2.5em;
  color:#9900cc;
}

blockquote p:after{
  content: close-quote;
  font-family:Georgia, "Times New Roman", Times, serif;  font-weight: bolder;
  font-size:2.5em;
  color:#9900cc;
}

blockquote a {
  float: right;
  margin-right: 0.7em;
  font-size: 0.6em;
  padding-bottom: 10px;
  text-shadow: 1px 1px 10px #555; 
}

blockquote a::before {
  font-family:Georgia, "Times New Roman", Times, serif;
  content: "~";
}

.auteur:link {
  color: #555;
  text-decoration: none;
}
.auteur:visited {
  color: #555;
}
.auteur:hover {
  color: #9900cc;
}




























/*Trombinoscope*/

.photoTrombi {
  /* width: 250px;
  height: 250px;*/
  border-radius: 3px;
  /*margin-bottom:20px;
  margin-left:5px;
  margin-right:5px; */
  display: block;
  width: 100%;
  height: auto;
}

/* Container needed to position the overlay. Adjust the width as needed */
@media screen and (min-width: 1080px) {
  .container {
    position: relative;
    width: 30%;
    display: inline-block;
    /*max-width: 300px; */
    /* width: 250px;
    height: 250px; */
    border-radius: 3px;
    margin-bottom:20px;
    margin-left:10px;
    margin-right:10px;
    /* border: 1px solid black; */
    box-shadow: 5px 5px 20px #555;
  }
}

@media screen and (max-width: 1080px) {
  .container {
    position: relative;
    width: 80%;
    display: inline-block;
    /*max-width: 300px; */
    /* width: 250px;
    height: 250px; */
    border-radius: 3px;
    margin-bottom:30px;
    margin-top: 10px;
    margin-left:10px;
    margin-right:10px;
    /* border: 1px solid black; */
  }
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 3px;
  /* border: solid 1px rgba(0, 0, 0, 0.5) */
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}

/* Flou des tofs qui claque quand on hover */
.container:hover .photoTrombi {
  transition: .3s ease-out;
  -webkit-filter: blur(1.5px); /* Safari 6.0 - 9.0 */
  filter: blur(1.5px);
}


























/* SearchBar */
#txtRecherche {
  background-image: url('../Images/searchIcon_25x25.png');
  background-position: 7px 8px; /* gauche haut */
  background-repeat: no-repeat;
  width: 100%;
  font-size: 1em;
  padding: 12px 20px 12px 45px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  border-radius: 3px;  
}

#articleList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#articleList li {
  display: none;
  background-color: #f6f6f6;
}

#articleList li a {
  padding: 12px;
  border: 1px solid #ddd;
  margin-top: 0px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  text-indent: 1.5em;
}

#articleList li a:hover:not(.header) {
  background-color: #eee;
}

#articleList li:hover:not(.header) {
  background-color: #eee;
}

.propositions {
  text-align: left;
}



/* ToolTip "Donne tout." */

.tooltip {
  width: 100%;
  position: relative;
  display: inline-block;
  /* border: solid 1px black; */
}

@media screen and (max-width: 700px) {
  .tooltip {
    top: 170px;
  }
}

/* Sort en haut */
.tooltip .tooltiptexttop {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 6px 0;
  position: absolute;
  z-index: 3;
  bottom: 130%;
  left: 8%;
  /* Fade in - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptexttop::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptexttop {
  visibility: visible;
  opacity: 1;
}

/* Sort a gauche */
.tooltip .tooltiptextleft {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 30%;
  right: 110%;
  /* Fade in - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptextleft::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.tooltip:hover .tooltiptextleft {
  visibility: visible;
  opacity: 1;
}


/* Sort a droite */
.tooltip .tooltiptextright {  
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 110%;
  /* Fade in - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptextright::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptextright {
  visibility: visible;
  opacity: 1;
}



























/* Pour la nav bar */

#navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  position: fixed;
  transition-property: top;
  transition-duration: 0.3s;
  top: 0;
  z-index: 2;
}

#navButton {
  display: none;
}

#navbar a {
  float: left;
  white-space: nowrap; /* Pour ne pas que ca n'aille a la ligne*/
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Five links of equal widths */
  text-align: center;
}

#navbar a:hover {
  background-color: #000;
  transition: background-color 0.25s;
}

#navbar a.active {
  background-color: #9900cc;
}

@media screen and (max-width:700px) {
  #navbar a {
    float: none;
    padding: 12px;
    display: block;
    width: 100%;
    text-align: left;
  }
}





























/* Pour les videos */

#txtRechercheVideo {
  /* background-image: url('../Images/searchIcon_25x25.png');
  background-position: 7px 8px;
  background-repeat: no-repeat; */
  font-size: 1em;
  padding: 12px 5px 12px 20px;
  /* border: 1px solid #ddd; */
  border: none;
  border-radius: 3px;
  float: right;
  width: 20%;
  height: 100%;  
  border: solid #555 1px;
  box-shadow: 5px 5px 20px #555;
  z-index: 1;
  position: relative;
}

.entete {
  /* border: solid #555 1px; */
  display: inline-block;
  position: relative;  
  margin-bottom: 12px;
  /* background-color: #555; */
  padding: 0;
  box-shadow: 5px 5px 20px #555;
  width: 40%;
  min-width: 300px;
}

#p_recherche {
  color: #555;
  font-size: 1em;
  float: left;
  text-align: right;
  padding: 12px;
  padding-left: 12px;;
  border: solid #555 1px;
  box-shadow: 5px 5px 20px #555;
  border-radius: 2px;
  margin: 0;
  width: 80%;
  background-image: url('../Images/searchIcon_25x25.png');
  background-position: 7px 8px;
  background-repeat: no-repeat;
  text-shadow: 1px 1px 10px #555;
}


iframe {
  width: 20vw; 
  height: 35vw;
  border: 2px solid #555;
  border-radius: 3px;
  background-color: #555;
  box-shadow: 5px 5px 20px #555;
  display: inline-block;
}


button {
  background-color: #9900cc;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  box-shadow: 5px 5px 20px #555;
  display: inline-block;
}

button:disabled {
  box-shadow: none;
}

#prevBtn {
  background-color: #555;
  height: 100%;
  width: 100%;
  background-image: url(../Images/prev.png);
  border-radius: 2px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.5s;
  transform: rotate(0deg);
}

#divPrevButton {
  display: inline-block;
  top: 35%;
  height: 30%;
  width: 8%; 
  left: 23%;   
  position: absolute;
  /* border: solid red 1px; */
}

#prevBtn:hover:disabled{
  transition: transform 0.5s 0.2s;
  transform: rotate(180deg);
}

#nextBtn {
  height: 100%;
  width: 100%;
  background-image: url(../Images/next.png);
  border-radius: 2px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.5s;
  transform: rotate(0deg);
}

#divNextButton {
  display: inline-block;
  top: 35%;
  height: 30%;
  width: 8%; 
  right: 23%; 
  position: absolute;
}

#nextBtn:hover:disabled {
  transition: transform 0.5s 0.2s;
  transform: rotate(-180deg);
}



#abonnement{
  margin-top: 20px;
  background-color: #ff0000;
  margin-bottom: 20px;
  border-radius: 2px;
  width: 20%;
}

button:hover:enabled {
  opacity: 0.8;
}



/* Make circles that indicate the steps: */
.step {
height: 12px;
width: 12px;
margin: 0 2px;
background-color: #555;
border: none;  
border-radius: 50%;
display: inline-block;
opacity: 0.5;
box-shadow: 5px 5px 20px #555;  
}

.step.active {
opacity: 1;
background-color: #9900cc;
}

/* Mark the steps that are finished and valid: */
.step.finish {
background-color: #9900cc;
}






































/* news */
#newsDefilantes {
  padding: 20px;
  font-size: 1.5em;
  
}